---
layout: home
---

<section class="px-3 pt-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <p class="h1 filtered pt-5 orange">Events
          <span class="city">at</span>
          <span class="hermosillo">Hermosillo</span><span class="d-none">,</span>
          <span class="mexicocity">Mexico City</span><span class="d-none">,</span>
          <span class="chihuahua">Chihuahua</span><span class="d-none">,</span>
          <span class="sanluispotosi">San Luis Potosi</span><span class="d-none"> and</span>
          <span class="merida">Merida</span><span class="d-none">,</span>
          <span class="type">tagged as</span>
          <span class="meetup">Meetup</span><span class="d-none">,</span>
          <span class="training">Training</span><span class="d-none"> and</span>
          <span class="special">Special</span><span class="d-none">.</span>
        </p>
        {% for entry in site.data.events %}
        <h2 id="{{ entry.months | downcase}}" class="orange h1 pt-5">{{ entry.months }}</h2>
        {% for event in entry.events %}
        <div
          class="row p-4 bg-white shadow rounded mb-3 event {{ event.type}} {{ event.offices | replace: ' ', '' | replace: ',', ' ' | downcase }}">
          <div class="col-12">
            <h3 class="h2 m-0">{{ event.title }}</h3>
            <p class="gray">{{ event.date }}</p>
            <p class="offices">
              {% assign offices = event.offices | split: ", " %}
              {% for office in offices %}
              <small class="d-inline-block mr-2"><i class="fa fa-map-marker-alt orange"></i>
                <strong>{{ office }}</strong></small>
              {% endfor %}

              {% assign types = event.type %}
              {% for type in types %}
              {% if type == "meetup" %}
              {% assign icon = "handshake" %}
              {% elsif type == "training" %}
              {% assign icon = "laptop-code" %}
              {% elsif type == "special" %}
              {% assign icon = "star" %}
              {% endif %}
              <strong class="gray">&middot;</strong>
              <small class="d-inline-block ml-2"><i class="fa fa-{{ icon }} orange"></i>
                <strong>{{ type | capitalize }}</strong></small>
              {% endfor %}
            </p>
          </div>
        </div>
        {% endfor %}
        {% endfor %}



      </div>
      <div class="col-lg-3 offset-lg-1 pt-5 mt-5">
        <div class="mt-3">
          <p class="lead">
            You can find more information about these events at least a week in advance at Nearsoft Jobs:
          </p>
          <p class="">
            <a href="https://facebook.com/nearsoftjobs" class="h2 mr-2"><i class="fab fa-facebook"></i><span
                class="d-none">Nearsoft Jobs on Facebook</span></a>
            <a href="https://twitter.com/nearsoftjobs" class="h2 mr-2"><i class="fab fa-twitter"></i><span
                class="d-none">Nearsoft Jobs on Twitter</span></a>
            <a href="https://instagram/nearsoftjobs" class="h2 mr-2"><i class="fab fa-instagram"></i><span
                class="d-none">Nearsoft Jobs on Instagram</span></a>
          </p>

          <h4 class="mt-5">Jump to a Month:</h4>
          <ul class="list-unstyled">
            {% for entry in site.data.events %}
            <li class="mb-1"><a href="#{{ entry.months | downcase }}">
                {{ entry.months }}</a></li>
            {% endfor %}
          </ul>


          <h4 class="mt-5">Filter by city:</h4>
          <ul class="list-unstyled">
            <li class="mb-1"><a href="all" class="filter city">All</a></li>
            <li class="mb-1"><a href="hermosillo" class="filter city">Hermosillo</a></li>
            <li class="mb-1"><a href="mexicocity" class="filter city">Mexico City</a></li>
            <li class="mb-1"><a href="chihuahua" class="filter city">Chihuahua</a></li>
            <li class="mb-1"><a href="sanluispotosi" class="filter city">San Luis Potosi</a></li>
            <li class="mb-1"><a href="merida" class="filter city">Merida</a></li>
          </ul>

          <h4 class="mt-5">Filter by type of event:</h4>
          <ul class="list-unstyled">
            <li class="mb-1"><a href="all" class="filter type">All</a></li>
            <li class="mb-1"><a href="training" class="filter type">Training</a></li>
            <li class="mb-1"><a href="meetup" class="filter type">Meetup</a></li>
            <li class="mb-1"><a href="special" class="filter type">Special</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>