@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";
html {
  scroll-behavior: smooth;
}

.hero {
  background-image: url(/img/events-header-1.png);
  background-position: center right;
  background-size: cover;
}

body.hermosillo .event:not(.hermosillo), {
  display: none;
}

body.mexicocity .event:not(.mexicocity) {
  display: none;
}

body.chihuahua .event:not(.chihuahua) {
  display: none;
}

body.sanluispotosi .event:not(.sanluispotosi) {
  display: none;
}

body.merida .event:not(.merida) {
  display: none;
}

body.training .event:not(.training) {
  display: none;
}

body.meetup .event:not(.meetup) {
  display: none;
}

body.special .event:not(.special) {
  display: none;
}

body.show-city h2, body.show-type h2 {
  display: none;
}

.filtered, .filtered span {
  display: none;
}

.show-city .filtered, .show-type .filtered {
  display: block;
}

.show-city .filtered .city, body.hermosillo .filtered .hermosillo, body.mexicocity .filtered .mexicocity, body.chihuahua .filtered .chihuahua, body.sanluispotosi .filtered .sanluispotosi, body.merida .filtered .merida {
  display: inline;
}

.show-type .filtered .type, body.meetup .filtered .meetup, body.training .filtered .training, body.special .filtered .special {
  display: inline;
}